*{
    box-sizing: border-box;
}
:root {
    --bgc-prim: #1F2937;
    --bgc-sec: #ECFDF5;
    --bgc-accent: #10B981;
    --bgc-place: #2F3E53;

    --ff-prim: 'Karla', sans-serif;
    --ff-sec: 'Inter', sans-serif;

    --fc-prim: #FFFFFF;
    --fc-sec: #D5D4D8;
    --fc-accent: #10B981;

    --fs-small: 1rem;
    --fs-medium: 1.25rem;
    --fs-large: 2.5rem;

    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-bolder: 800;

}
html,
body,
h1,
p{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bgc-sec);
    color: var(--fc-prim);
    font-size: var(--fs-small);
    font-family: var(--ff-prim);
    background-color: var(--bgc-prim);
}
.container{
    background-color: var(--bgc-prim);
    max-width: 100vw; 
    min-width: 20rem;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2rem;
}
.password_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.heading{
    font-size: var(--fs-large);
    font-weight: var(--fw-bolder);
    padding-top: 4rem;
    margin-bottom: .5rem;
}
.heading span{
    display:block;
    color: var(--fc-accent);
}
.sub_heading {
    color: var(--fc-sec);
    font-size: var(--fs-medium);
    font-family: var(--ff-sec);
    font-weight: var(--fw-normal); 
    margin-bottom: .5rem;
}
.input-container{
    display: flex;
    flex-direction: column;
}
.input-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: .5rem;
}
.errorMsg {
    color: var(--fc-accent);
    padding: .2rem .5rem;
    border-radius: .3rem;
    font-weight: var(--fw-bold);
    margin-bottom: .5rem;
}
.errorMsg:empty {
    display: none;
}
label {
    margin-bottom: .5rem;
}
#pwdLenght {
    margin-bottom: 1rem;
    width: 2rem;
    text-align: center;
}
#pwdLenght:focus {
    outline: 2px solid var(--bgc-accent);
}
button {
    font-family: var(--ff-sec);
    font-weight: var(--fw-medium);
    font-size: var(--fs-small);
    background-color: var(--bgc-accent);
    color: var(--fc-prim);
    padding: .5rem 1.25rem;
    border-radius: .3rem;
    border: 2px solid var(--bgc-accent);
    cursor: pointer;
    width: 13rem;
}
button:hover {
    border: 2px solid var(--bgc-sec);
}
button:focus {
    border: 2px solid var(--bgc-sec);
    outline: 2px solid var(--bgc-accent);
}
hr {
    border: 1px solid var(--bgc-place);
    margin: 2rem 0;
    width: 100%;
}
.password{
    background-color: var(--bgc-place);
    color: var(--fc-accent);
    font-size: var(--fs-medium);
    font-family: var(--ff-sec);
    font-weight: var(--fw-normal); 
    padding: .5rem;
    border-radius: 5px;
    width: 14rem;
}
@media screen and (min-width: 40rem) {
    .password_container {
      justify-content: space-between;
    }
  }